<%- include("../partials/header") %>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="<%= user.avatar %>" alt="">
      <div class="card-body">
        <h2 class="card-title text-center"><%= user.firstName + " " + user.lastName %> </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe impedit esse perferendis dolorem, soluta magni inventore. Facilis nihil vero rem maiores nulla labore magnam odit ipsa, nobis ullam sint!
         </p>
      </div>
    </div>
  </div>
  <div class="col-md-8">
  
  </div>
</div>




<%- include("../partials/footer") %>